:root {
  --form-width: 100%;
  --form-maxwidth: 100%;

  --legend-font-size: 1.5rem;
  --legend-margin-bottom: .5rem;
  --legend-padding: 0;

  --input-min-height: 38px;
  --input-padding: 6px 14px;
  --input-background: #fff;
  --input-border: 1px solid #e5e5e5;
  --input-color: #212529;
  --input-boxshadow: 0 0 0 0 transparent inset;
  --input-border-radius: 0;

  --input-placeholder-color: 0 0 0 0 transparent inset;
  --input-placeholder-opacity: 1;

  --input-focus-border-color: #ccc;

  --input-disabled-opacity: .45;

  --radio-checkbox-height: 16px;
  --radio-checkbox-width: 16px;
  --radio-checkbox-border: 1px solid #e5e5e5;
  --radio-border-radius: 50%;
  --radio-checkbox-focus-border-color: #1e87f0;
  --radio-checkbox-checked-background-color: #1e87f0;
  --radio-checkbox-checked-border-color: transparent;
  --radio-checkbox-checked-focus-background-color: #0e6dcd;
  --radio-checkbox-disabled-background-color: #f8f8f8;
  --radio-checkbox-disabled-border-color: #e5e5e5;

  --range-background: transparent;
  --range-margin: 0;
  --range-padding: 0;
  --range-border-color: transparent;
  --range-color: transparent;
  --range-webkit-height: 15px;
  --range-webkit-width: 15px;
  --range-webkit-border: 1px solid #ccc;
  --range-webkit-border-radius: 500px;
  --range-webkit-background: #fff;
  --range-webkit-focus-background: #d2d2d2;
  --range-webkit-track-background: #ebebeb;
  --range-webkit-track-height: 3px;

  --label-invalid-color: #dc3545;
  --label-valid-color: #28a745;
  --input-invalid-color-border-color: #dc3545;
  --input-valid-color-border-color: #28a745;


};

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="radio"]:not(:disabled),
[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: var(--form-width);
  max-width: var(--form-maxwidth);
  padding: var(--legend-padding);
  margin-bottom: var(--legend-margin-bottom);
  font-size: var(--legend-font-size);
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

::-webkit-datetime-edit,
::-webkit-inner-spin-button {
  height: auto;
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type="month"],
input[type=week],
input[type=text],
input[type=time],
input[type=url],
textarea,
select {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: var(--form-width);
  max-width: var(--form-maxwidth);
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: var(--input-padding);
  min-height: var(--input-min-height);
  background: var(--input-background);
  border: var(--input-border);
  color: var(--input-color);
  box-shadow: var(--input-boxshadow);
  border-radius: var(--input-border-radius);
}

::placeholder {
  color: var(--input-placeholder-color);
  opacity: var(--input-placeholder-opacity);
}

input:not([type]):focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type="month"]:focus,
input[type=week]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  border-color: var(--input-focus-border-color);
}

input:not([type])[disabled],
input[type=date][disabled],
input[type=datetime-local][disabled],
input[type=email][disabled],
input[type=file][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type="month"][disabled],
input[type=week][disabled],
input[type=text][disabled],
input[type=time][disabled],
input[type=url][disabled],
textarea:disabled,
select:disabled {
  pointer-events: none;
  opacity: var(--input-disabled-opacity);
}

select:not([multiple]):not([size]) {
  padding-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%
}

select:not([multiple]):not([size])::-ms-expand {
  display: none
}

select:not([multiple]):not([size]) option {
  color: #444
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  height: var(--radio-checkbox-height);
  width: var(----radio-checkbox-width);
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: var(--radio-checkbox-border);
}



input[type="radio"] {
  border-radius: var(--radio-border-radius);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  border-color: var(--radio-checkbox-focus-border-color);
}

input[type="radio"]:checked,
input[type="checkbox"]:checked,
input[type="checkbox"]:indeterminate {
  background-color: var(--radio-checkbox-checked-background-color);
  border-color: var(--radio-checkbox-checked-border-color);
}

input[type="radio"]:checked:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus {
  background-color: var(--radio-checkbox-checked-focus-background-color);
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E")
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
}

input[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E")
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  background-color: var(--radio-checkbox-disabled-background-color);
  border-color: var(--radio-checkbox-disabled-border-color);
}

input[type="radio"]:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E")
}

input[type="checkbox"]:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
}

input[type="checkbox"]:disabled:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E")
}

input[type="range"] {
  margin: var(--range-margin);
  vertical-align: middle;
  max-width: var(--form-maxwidth);
  width: var(--form-width);
  -webkit-appearance: none;
  background: var(--range-background);
  padding: var(--range-padding);
}

input[type="range"]:focus {
  outline: none
}

input[type="range"]::-moz-focus-outer {
  border: none
}

input[type="range"]::-ms-track {
  height: var(--range-webkit-height);
  background: var(--range-background);
  border-color: var(--range-border-color);
  color: var(--range-color);
}

input[type="range"]:not(:disabled)::-webkit-slider-thumb {
  cursor: pointer
}

input[type="range"]:not(:disabled)::-moz-range-thumb {
  cursor: pointer
}

input[type="range"]:not(:disabled)::-ms-thumb {
  cursor: pointer
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -7px;
  height: var(--range-webkit-height);
  width: var(--range-webkit-width);
  border-radius: var(--range-webkit-border-radius);
  background: var(--range-webkit-background);
  border: var(--range-webkit-border);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: var(--range-webkit-height);
  width: var(--range-webkit-width);
  border-radius: var(--range-webkit-border-radius);
  background: var(--range-webkit-background);
  border: var(--range-webkit-border);
}

input[type="range"]::-ms-thumb {
  margin-top: 0
}

input[type="range"]::-ms-thumb {
  border: none;
  height: var(--range-webkit-height);
  width: var(--range-webkit-width);
  border-radius: var(--range-webkit-border-radius);
  background: var(--range-webkit-background);
  border: var(--range-webkit-border);
}

input[type="range"]::-ms-tooltip {
  display: none
}

input[type="range"]::-webkit-slider-runnable-track {
  height: var(--range-webkit-track-height);
  background: var(--range-webkit-track-background);
  border-radius: var(--range-webkit-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track,
.uk-range:active::-webkit-slider-runnable-track {
  background: var(--range-webkit-focus-background);
}

input[type="range"]::-moz-range-track {
  height: var(--range-webkit-track-height);
  background: var(--range-webkit-track-background);
  border-radius: var(--range-webkit-border-radius);
}

input[type="range"]:focus::-moz-range-track {
  background: var(--range-webkit-focus-background);
}

input[type="range"]::-ms-fill-lower,
.uk-range::-ms-fill-upper {
  height: var(--range-webkit-track-height);
  background: var(--range-webkit-track-background);
  border-radius: var(--range-webkit-border-radius);
}

input[type="range"]:focus::-ms-fill-lower,
.uk-range:focus::-ms-fill-upper {
  background: var(--range-webkit-focus-background);
}

label.is-invalid {
  color: var(--label-invalid-color);
}

label.is-valid {
  color: var(--label-valid-color);
}

input.is-invalid,
input.is-invalid:focus {
  color: var(--input-invalid-color-border-color);
  border-color: var(--input-invalid-color-border-color);
}

input.is-valid,
input.is-valid:focus {
  color: var(--input-valid-color-border-color);
  border-color: var(--input-valid-color-border-color);
}