:root {
  --table-color: #363636;
  --table-background: #fff;
  --table-width: 100%;
  --table-margin: 20px;
  --table-border: 1px solid #dbdbdb;
  --table-border-width: 0 0 1px;
  --table-padding: .5em .75em;
  --table-thead-border-width: 0 0 2px;
  --table-tfoot-bordet-width: 2px 0 0;
}

table {
  border-collapse: collapse;
  width: var(--table-width);
  border-spacing: 0;
  margin-bottom: var(--table-margin);
}

*+table {
  margin-top: var(--table-margin)
}

.table {
  background-color: var(--table-background);
  color: var(--table-color);
}

table caption {
  text-align: left;
}

table td,
table th {
  text-align: left;
  border: var(--table-border);
  border-width: var(--table-border-width);
  padding: var(--table-padding);
  vertical-align: top
}

table thead td,
table thead th {
  border-width: var(--table-thead-border-width);
}

table tfoot td,
table tfoot th {
  border-width: var(--table-tfoot-bordet-width);
}